
@{
    ViewBag.Title = TranslationHelper.Get("Administration_Tabs_Users");
}
@using Gopher.Model.Tools
@model Gopher.Models.UserListViewModel
<h1 class="page-header">@ViewBag.Title</h1>

@if (Model.Users.Any()) {
    @Html.Partial("_UserListPartial", Model.Users)
} else {
    <p>No users in the system.</p>
}

<a href="@Url.Action("Create")" class="btn btn-default">@Html.Translation("Administration_Users_NewUser")</a>