@{
    ViewBag.Title = "Home Page";
}
@model Gopher.Models.CustomerSearchViewModel

<form id="search-form" method="post" action="@Url.Action()" class="form-horizontal">
    <div class="form-group">
        <input type="submit" value="Search" />
    </div>
</form>
<form id="download-form" method="post" action="@Url.Action("DownloadCsv", "Home")" class="form-horizontal">
    <div class="form-group">
        <input type="submit" value="Download CSV" />
    </div>
</form>
@if (Model != null && Model.Customers != null)
{
    <div>
        <span>Search result</span>
        @Html.Partial("CustomerList", Model.Customers)
    </div>
}

<script>
    //$("#search-form").submit(function (event) {
    //    event.preventDefault();
    //    var self = $(this);
    //    $("#loading-bar").show();

    //    self.ajaxSubmit({
    //        success: function (response) {
    //            renderUploadResult(response);
    //        },
    //        complete: function () {
    //            $("#uploading-result").show();
    //            $("#loading-bar").hide();
    //        }
    //    });
    //});
</script>